/* common style or utilities */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/*-------------
 Header's style  
 ------------*/

.header {
    background-color: #2D25A0;
    height: 677px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 69px;
 
}
.header:hover {
background-color:orangered;
}
.header:hover .button{
    background-color: blue;
}
.header:hover .banner {
    transform: rotate(360deg);
    transition: transform .6s ease-in-out;
}

.header h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    
}
.header a {
    font-size: 16px;
    background-color:orangered ;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}
.header img {
    width: 556px;
}


/************
 player's styles  
 ************/


.container {
    margin-bottom: 100px;
}

.section-title{
    font-size: 50px;
    font-weight: bold;
    color: mediumblue;
    position: relative;
    left: 150px;
}


.players{
    display: grid;
    grid-template-columns: repeat(3 , 390px);
    justify-content: center;
    grid-row-gap: 27px;
   
}
.player-profile{
    width: 330px;
    height: 474px;
    border: 1px solid rgba(211, 211, 211, 0.582);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;

}
.player-profile:hover img {
    transform: scale(1.1);
    transition: transform .5s;
}
.players>.player-profile >.photo>img {
    width:100%;
}

.player-details>h2 {
   font-size: 28px;
   line-height: 15px;
}
.player-details>p {
    color: #6C6C6C;
}



/**************** 
extra section styles
******************* */


.videos{
    display: grid;
    grid-template-columns: repeat(3 ,350px);
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
   

}

.achievement {
    display: grid;
    grid-template-columns: repeat(4 , 250px);
    justify-content: center;
    grid-column-gap: 10px;
}
.trophy{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}
.trophy img {
    width: 100%;
    
}



/* footer's style  */


.footer{
   
    display: grid;
    grid-template-columns: repeat(1 , 484px);
    justify-content: center;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 67px;

}
.footer img {
    width: 100%;
    
}
.social-icon {
margin:10px;

}
.fab {
    margin-right: 10px;
   
}

/*************
 Media Query 
********* */

/* mobile device  */


@media only screen and (max-width:480px) {
    .header {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
        padding:0 25px;
     
    }
    .header h1 {
        color: white;
        font-size: 36px;
        font-weight: bold;
        
    }
   
    
    .header img {
        width: 80%;
        
    }
    .container{
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(1 , 350px);
        justify-content: center;
        grid-row-gap: 27px;
       
    }
    .section-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    left: 40px;
    }

    .videos {
        grid-template-columns: repeat(1 ,350px);
    }
    .achievement {
        display: grid;
        grid-template-columns: repeat(1 , 250px);
        justify-content: center;
        grid-row-gap: 10px;
    }
    .footer{
        
        grid-template-columns: repeat(1 , 350px);
        justify-content: center;
        text-align: center;
        margin-top: 58px;
        margin-bottom: 67px;
    
    }
    
}